body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Altone Trial';
  src: local('Altone Trial'), url("/public/assets/fonts/AltoneTrial-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Altone Trial';
  src: local('Altone Trial'), url("/public/assets/fonts/AltoneTrial-Bold.ttf") format('truetype');
}